apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app
  labels:
    app: frontend-app
    component: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-app
      component: frontend
  template:
    metadata:
      labels:
        app: frontend-app
        component: frontend
    spec:
      containers:
        - name: frontend-app
          image: 881740801742.dkr.ecr.us-east-1.amazonaws.com/php-guestbook:latest
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
          env:
            - name: GET_HOSTS_FROM
              value: dns
          ports:
            - containerPort: 80
